body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*CSS staffs*/
.staffs-background {
  background-color: #f79ea5ce;
}
.staffs-border {
  border: 3px solid rgb(187, 60, 60);
}
.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.card-body {
  padding: 1rem;
}
/*CSS selected-staffs*/
.selected-staff-border {
  background-color: #fad1d4ce;
}
span {
  font-weight: bold;
}
/*CSS text*/
.text-decor {
  color: rgb(209, 21, 146);
  font-size: 1.2rem;
}
.text-decor .card-title {
  text-align: left;
  font-size: 30px;
}
/*CSS thay đổi view*/
.view {
  margin-top: 20px;
}
button {
  border: 2px dashed rgb(236, 123, 123);
  border-radius: 0.25rem;
  color: rgb(230, 77, 166);
}

/*CSS Header*/
.navbar-expand-md {
  background-color: #f79ea5ce;
}

.header-text {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}
input {
  border: none;
  width: 35rem;
}
form {
  font-size: 1.25rem;
}

/*CSS Footer*/
.footer {
  background-color: #f79ea5ce;
}
address {
  margin-bottom: 0;
}

/*CSS Breadcrumb*/
.breadcrumb-item a {
  color: rgb(209, 21, 146);
  font-size: 1.25rem;
  font-weight: 600;
}
.breadcrumb-item.active {
  color: rgb(209, 21, 146);
  font-size: 1.25rem;
  font-weight: 600;
}

/*CSS card*/
.card-css {
  border: 3px solid rgb(236, 123, 123);
  border-radius: 20px;
  background-color: #fde2e4ce;
}
.card-css .card-title {
  text-align: left;
  color: rgb(209, 21, 146);
  font-size: 2rem;
}
.card-css .card-text {
  font-size: 1.5rem;
  color: rgb(207, 79, 154);
}
.card-css .card-header {
  font-size: 1.5rem;
  color: rgb(207, 79, 154);
  font-weight: bold;
}
